#assignedWrapper {
    display: none;
    #assignedImages {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .img-grid {
            display: grid;
            gap: rems(32px) rems(16px);
            grid-template-columns: 1fr;
            @media (min-width: $breakpoint-small) {
                grid-template-columns: 1fr 1fr;
            }
            @media (min-width: $breakpoint-medium) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }

    .select {
        display: flex;
        flex-direction: column;
        gap: rems(16px);
        @media (min-width: $breakpoint-small) {
            flex-direction: row;
        }
        align-items: center;
        min-width: 512px;
        width: fit-content;
        max-width: 100%;

        h2 {
            margin: 0;
            min-width: fit-content;
            @media (min-width: $breakpoint-small) {
                flex: 1 1 512px;
            }
        }

        select {
            font-size: rems(16px);
            min-width: fit-content;
            width: 256px;
            max-width: 100%;
            @media (min-width: $breakpoint-small) {
                flex: 1 1 256px;
            }
            padding: rems(8px);
            border-radius: rems(4px);
            outline: 0;
            color: $color-text;
            background-color: $color-input-background;
            border: 2px solid $color-input-border;
            &:focus {
                border-color: $color-theme;
                box-shadow: inset 0 1px 1px rgba(#000, 0.075), 0 0 8px rgba($color-theme, 0.6);
            }
        }
    }

    img {
        border-radius: 2px 2px 0 0 ;
    }

    .btn {
        font-size: rems(16px);
        width: 100%;
        padding: rems(8px);
        border-radius: 0 0 rems(4px) rems(4px);
        outline: 0;
        color: $color-text;
        background-color: $color-input-background;
        border: 2px solid $color-input-border;
        &:focus, &:hover {
            border-color: $color-theme;
            box-shadow: inset 0 1px 1px rgba(#000, 0.075), 0 0 8px rgba($color-theme, 0.6);
        }
    }
}