#assignedWrapper {
    display: none;
    #assignedImages {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .img-grid {
            display: grid;
            gap: rems(32px) rems(16px);
            grid-template-columns: 1fr;
            @media (min-width: $breakpoint-small) {
                grid-template-columns: 1fr 1fr;
            }
            @media (min-width: $breakpoint-medium) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            div {
                position: relative;
                .btn {
                    z-index: 1;
                    display: none;
                    position: absolute;
                }
                &:hover {
                    .btn {
                        display: block;
                    }
                }
            }
        }
    }

    .select {
        display: flex;
        flex-direction: column;
        gap: rems(16px);
        @media (min-width: $breakpoint-small) {
            flex-direction: row;
        }
        align-items: center;
        width: 512px;
        max-width: 100%;

        h2 {
            margin: 0;
            width: fit-content;
            max-width: 100%;
            @media (min-width: $breakpoint-small) {
                flex: 1 1 512px;
            }
        }

        select {
            font-size: rems(12px);
            @media (min-width: $breakpoint-xsmall) {
                font-size: rems(16px);
            }
            width: 256px;
            max-width: 100%;
            @media (min-width: $breakpoint-small) {
                flex: 1 1 256px;
            }
            padding: rems(8px);
            border-radius: rems(4px);
            outline: 0;
            color: $color-text;
            background-color: $color-input-background;
            &:active {
                background-color: $color-input-background-click;
            }
            border: 2px solid $color-input-border;
            &:focus {
                border-color: $color-theme;
                box-shadow: inset 0 1px 1px rgba(#000, 0.075), 0 0 8px rgba($color-theme, 0.6);
            }
        }
    }

    .btn {
        top: 0;
        right: 0;
        font-size: rems(12px);
        @media (min-width: $breakpoint-xsmall) {
            font-size: rems(16px);
        }
        width: fit-content;
        padding: rems(8px);
        border-radius: 0 0 0 rems(4px);
        outline: 0;
        color: $color-text;
        background-color: $color-input-background-wrong;
            &:active {
                background-color: $color-input-background-wrong-click;
            }
        border: 2px solid $color-input-border-wrong;
        cursor: pointer;
        &:focus, &:hover {
            border-color: $color-input-wrong;
            box-shadow: inset 0 1px 1px rgba(#000, 0.075), 0 0 8px rgba($color-input-wrong, 0.6);
        }
    }
}