
.current {
    h2 {
        margin: rems(32px) 0 0 0;
    }
    form {
        margin-top: rems(16px);
        width: 512px;
        max-width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "input " "reroll" "previous" "save";
        @media (min-width: $breakpoint-xsmall) {
            grid-template-columns: 1fr 150px;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: "input input" "reroll previous" "save save";
        }
        @media (min-width: $breakpoint-small) {
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: "input save" "reroll previous";
        }
        justify-content: space-between;
        gap: rems(16px);
        input {
            &:focus {
                border-color: $color-theme;
                box-shadow: inset 0 1px 1px rgba(#000, 0.075), 0 0 8px rgba($color-theme, 0.6);
            }
            &::placeholder {
                color: $color-input-placeholder;
            }
            &.invalid {
                background-color: $color-input-background-wrong;
                border-color: $color-input-border-wrong;
                &:focus {
                    border-color: $color-input-wrong;
                    box-shadow: inset 0 1px 1px rgba(#000, 0.075), 0 0 8px rgba($color-input-wrong, 0.6);
                }
            }
        }
        button {
            color: $color-text;
            text-align: center;
            &:focus, &:hover {
                border-color: $color-theme;
                box-shadow: inset 0 1px 1px rgba(#000, 0.075), 0 0 8px rgba($color-theme, 0.6);
            }
        }
        input, button {
            padding: rems(8px);
            border-radius: rems(4px);
            outline: 0;
            background-color: $color-input-background;
            border: 2px solid $color-input-border;
            font-size: rems(12px);
            @media (min-width: $breakpoint-xsmall) {
                font-size: rems(16px);
            }
        }
        input {
            grid-area: input;
        }
        #save {
            grid-area: save;
        }
        #reroll {
            grid-area: reroll;
        }
        #previous {
            grid-area: previous;
        }
    }
}