
* {
    box-sizing: border-box;
}

body {
    background-color: $color-background;
    color: $color-text;
}

.container {
    margin: 0 Min(64px, 10%);
}

.box {
    background-color: $color-box-background;
    border-radius: rems(8px);
    border: 1px solid $color-box-border;
    margin: 16px 0;
    padding: rems(32px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 512px;
    max-width: 100%;
}

.hidden {
    display: none;
}
