
* {
    box-sizing: border-box;
}
body {
    background-color: $color-background;
    color: $color-text;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin: 0 Min(rems(64px), 10%);
    margin-bottom: rems(32px);
}

.box {
    background-color: $color-box-background;
    border-radius: rems(8px);
    border: 1px solid $color-box-border;
    margin: rems(16px) 0 0 0;
    padding: rems(32px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 514px;
    max-width: 100%;
    border: 3px solid $color-image-border;
    border-radius: 2px 2px 0 0 ;
}

.hidden {
    display: none;
}

h3 {
    margin: 0 0 rems(16px) 0;
    align-self: baseline;
    font-weight: 600;
    font-size: rems(16px);
    @media (min-width: $breakpoint-xsmall) {
        font-size: rems(24px);
    }
}
h2 {
    margin: 0 0 rems(16px) 0;
    font-size: rems(16px);
    @media (min-width: $breakpoint-xsmall) {
        font-size: rems(24px);
    }
}