
$color-background: #ddd;
$color-text: #000;

$color-image-border: #444;

$color-box-background: #fff;
$color-box-border: #ccc;
$color-theme: #8e0;

$color-input-background: #ddd;
$color-input-border: #ccc;
$color-input-placeholder: #999;

$color-input-wrong: #d33;
$color-input-background-wrong: #ecc;
$color-input-border-wrong: #f99;

$breakpoint-xsmall: 500px;
$breakpoint-small: 800px;
$breakpoint-medium: 1280px;

@function rems($value) {
    @return ($value / 16px) * 1rem;
}
