/* line 2, ../../js_arrays_assessment/website/scss/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../../js_arrays_assessment/website/scss/_layout.scss */
body {
  background-color: #ddd;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* line 14, ../../js_arrays_assessment/website/scss/_layout.scss */
.container {
  margin: 0 Min(4rem, 10%);
}

/* line 18, ../../js_arrays_assessment/website/scss/_layout.scss */
.box {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin: 1rem 0;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 30, ../../js_arrays_assessment/website/scss/_layout.scss */
img {
  width: 512px;
  max-width: 100%;
  box-sizing: content-box;
  border: 3px solid #444;
  border-radius: 2px;
}

/* line 38, ../../js_arrays_assessment/website/scss/_layout.scss */
.hidden {
  display: none;
}

/* line 42, ../../js_arrays_assessment/website/scss/_layout.scss */
h3 {
  margin: 0 0 1rem 0;
  align-self: baseline;
  font-weight: 600;
}

/* line 47, ../../js_arrays_assessment/website/scss/_layout.scss */
h2 {
  margin: 0 0 1rem 0;
}

/* line 3, ../../js_arrays_assessment/website/scss/_current.scss */
.current h2 {
  margin: 2rem 0 0 0;
}

/* line 6, ../../js_arrays_assessment/website/scss/_current.scss */
.current form {
  margin-top: 1rem;
  width: 512px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

@media (min-width: 800px) {
  /* line 6, ../../js_arrays_assessment/website/scss/_current.scss */
  .current form {
    flex-direction: row;
  }
}

@media (min-width: 800px) {
  /* line 17, ../../js_arrays_assessment/website/scss/_current.scss */
  .current form input {
    flex: 1 1 100px;
  }
}

/* line 21, ../../js_arrays_assessment/website/scss/_current.scss */
.current form input:focus {
  border-color: #8e0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(136, 238, 0, 0.6);
}

/* line 25, ../../js_arrays_assessment/website/scss/_current.scss */
.current form input::placeholder {
  color: #999;
}

/* line 28, ../../js_arrays_assessment/website/scss/_current.scss */
.current form input.invalid {
  background-color: #ecc;
  border-color: #f99;
}

/* line 31, ../../js_arrays_assessment/website/scss/_current.scss */
.current form input.invalid:focus {
  border-color: #d33;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(221, 51, 51, 0.6);
}

/* line 37, ../../js_arrays_assessment/website/scss/_current.scss */
.current form button {
  color: #000;
  text-align: center;
}

/* line 40, ../../js_arrays_assessment/website/scss/_current.scss */
.current form button:focus, .current form button:hover {
  border-color: #8e0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(136, 238, 0, 0.6);
}

/* line 45, ../../js_arrays_assessment/website/scss/_current.scss */
.current form input, .current form button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: 0;
  background-color: #ddd;
  border: 2px solid #ccc;
  font-size: 1rem;
}

@media (min-width: 800px) {
  /* line 53, ../../js_arrays_assessment/website/scss/_current.scss */
  .current form #save, .current form #previous {
    flex: 1 1 25px;
    max-width: 150px;
  }
}

@media (min-width: 800px) {
  /* line 59, ../../js_arrays_assessment/website/scss/_current.scss */
  .current form #reroll {
    flex: 1 1 100px;
  }
}

/* line 1, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper {
  display: none;
}

/* line 3, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper #assignedImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1.5rem;
}

/* line 9, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper #assignedImages .img-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: 800px) {
  /* line 9, ../../js_arrays_assessment/website/scss/_assigned.scss */
  #assignedWrapper #assignedImages .img-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  /* line 9, ../../js_arrays_assessment/website/scss/_assigned.scss */
  #assignedWrapper #assignedImages .img-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* line 22, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper .select {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  min-width: 512px;
  width: fit-content;
  max-width: 100%;
}

@media (min-width: 800px) {
  /* line 22, ../../js_arrays_assessment/website/scss/_assigned.scss */
  #assignedWrapper .select {
    flex-direction: row;
  }
}

/* line 34, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper .select h2 {
  margin: 0;
  min-width: fit-content;
}

@media (min-width: 800px) {
  /* line 34, ../../js_arrays_assessment/website/scss/_assigned.scss */
  #assignedWrapper .select h2 {
    flex: 1 1 512px;
  }
}

/* line 42, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper .select select {
  font-size: 1rem;
  min-width: fit-content;
  width: 256px;
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: 0;
  color: #000;
  background-color: #ddd;
  border: 2px solid #ccc;
}

@media (min-width: 800px) {
  /* line 42, ../../js_arrays_assessment/website/scss/_assigned.scss */
  #assignedWrapper .select select {
    flex: 1 1 256px;
  }
}

/* line 56, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper .select select:focus {
  border-color: #8e0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(136, 238, 0, 0.6);
}

/*# sourceMappingURL=styles.css.map */