/* line 2, ../../js_arrays_assessment/website/scss/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../js_arrays_assessment/website/scss/_layout.scss */
body {
  background-color: #ddd;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* line 13, ../../js_arrays_assessment/website/scss/_layout.scss */
.container {
  margin: 0 Min(4rem, 10%);
  margin-bottom: 2rem;
}

/* line 18, ../../js_arrays_assessment/website/scss/_layout.scss */
.box {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin: 1rem 0 0 0;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 30, ../../js_arrays_assessment/website/scss/_layout.scss */
img {
  width: 514px;
  max-width: 100%;
  border: 3px solid #444;
  border-radius: 2px 2px 0 0;
}

/* line 37, ../../js_arrays_assessment/website/scss/_layout.scss */
.hidden {
  display: none;
}

/* line 41, ../../js_arrays_assessment/website/scss/_layout.scss */
h3 {
  margin: 0 0 1rem 0;
  align-self: baseline;
  font-weight: 600;
  font-size: 1rem;
}

@media (min-width: 500px) {
  /* line 41, ../../js_arrays_assessment/website/scss/_layout.scss */
  h3 {
    font-size: 1.5rem;
  }
}

/* line 50, ../../js_arrays_assessment/website/scss/_layout.scss */
h2 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

@media (min-width: 500px) {
  /* line 50, ../../js_arrays_assessment/website/scss/_layout.scss */
  h2 {
    font-size: 1.5rem;
  }
}

/* line 3, ../../js_arrays_assessment/website/scss/_current.scss */
.current h2 {
  margin: 2rem 0 0 0;
}

/* line 6, ../../js_arrays_assessment/website/scss/_current.scss */
.current form {
  margin-top: 1rem;
  width: 512px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "input " "reroll" "previous" "save";
  justify-content: space-between;
  gap: 1rem;
}

@media (min-width: 500px) {
  /* line 6, ../../js_arrays_assessment/website/scss/_current.scss */
  .current form {
    grid-template-columns: 1fr 150px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "input input" "reroll previous" "save save";
  }
}

@media (min-width: 800px) {
  /* line 6, ../../js_arrays_assessment/website/scss/_current.scss */
  .current form {
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "input save" "reroll previous";
  }
}

/* line 26, ../../js_arrays_assessment/website/scss/_current.scss */
.current form input:focus {
  border-color: #8e0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(136, 238, 0, 0.6);
}

/* line 30, ../../js_arrays_assessment/website/scss/_current.scss */
.current form input::placeholder {
  color: #999;
}

/* line 33, ../../js_arrays_assessment/website/scss/_current.scss */
.current form input.invalid {
  background-color: #ecc;
  border-color: #f99;
}

/* line 36, ../../js_arrays_assessment/website/scss/_current.scss */
.current form input.invalid:focus {
  border-color: #d33;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(221, 51, 51, 0.6);
}

/* line 42, ../../js_arrays_assessment/website/scss/_current.scss */
.current form button {
  color: #000;
  text-align: center;
}

/* line 45, ../../js_arrays_assessment/website/scss/_current.scss */
.current form button:focus, .current form button:hover {
  border-color: #8e0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(136, 238, 0, 0.6);
}

/* line 50, ../../js_arrays_assessment/website/scss/_current.scss */
.current form input, .current form button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: 0;
  background-color: #ddd;
  border: 2px solid #ccc;
  font-size: 0.75rem;
}

@media (min-width: 500px) {
  /* line 50, ../../js_arrays_assessment/website/scss/_current.scss */
  .current form input, .current form button {
    font-size: 1rem;
  }
}

/* line 61, ../../js_arrays_assessment/website/scss/_current.scss */
.current form input {
  grid-area: input;
}

/* line 64, ../../js_arrays_assessment/website/scss/_current.scss */
.current form #save {
  grid-area: save;
}

/* line 67, ../../js_arrays_assessment/website/scss/_current.scss */
.current form #reroll {
  grid-area: reroll;
}

/* line 70, ../../js_arrays_assessment/website/scss/_current.scss */
.current form #previous {
  grid-area: previous;
}

/* line 1, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper {
  display: none;
}

/* line 3, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper #assignedImages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 8, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper #assignedImages .img-grid {
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: 800px) {
  /* line 8, ../../js_arrays_assessment/website/scss/_assigned.scss */
  #assignedWrapper #assignedImages .img-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  /* line 8, ../../js_arrays_assessment/website/scss/_assigned.scss */
  #assignedWrapper #assignedImages .img-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* line 18, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper #assignedImages .img-grid div {
  position: relative;
}

/* line 20, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper #assignedImages .img-grid div .btn {
  z-index: 1;
  display: none;
  position: absolute;
}

/* line 26, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper #assignedImages .img-grid div:hover .btn {
  display: block;
}

/* line 34, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper .select {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 512px;
  max-width: 100%;
}

@media (min-width: 800px) {
  /* line 34, ../../js_arrays_assessment/website/scss/_assigned.scss */
  #assignedWrapper .select {
    flex-direction: row;
  }
}

/* line 45, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper .select h2 {
  margin: 0;
  width: fit-content;
  max-width: 100%;
}

@media (min-width: 800px) {
  /* line 45, ../../js_arrays_assessment/website/scss/_assigned.scss */
  #assignedWrapper .select h2 {
    flex: 1 1 512px;
  }
}

/* line 54, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper .select select {
  font-size: 0.75rem;
  width: 256px;
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: 0;
  color: #000;
  background-color: #ddd;
  border: 2px solid #ccc;
}

@media (min-width: 500px) {
  /* line 54, ../../js_arrays_assessment/website/scss/_assigned.scss */
  #assignedWrapper .select select {
    font-size: 1rem;
  }
}

@media (min-width: 800px) {
  /* line 54, ../../js_arrays_assessment/website/scss/_assigned.scss */
  #assignedWrapper .select select {
    flex: 1 1 256px;
  }
}

/* line 70, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper .select select:focus {
  border-color: #8e0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(136, 238, 0, 0.6);
}

/* line 77, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper .btn {
  top: 0;
  right: 0;
  font-size: 0.75rem;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0 0 0 0.25rem;
  outline: 0;
  color: #000;
  background-color: #ecc;
  border: 2px solid #f99;
  cursor: pointer;
}

@media (min-width: 500px) {
  /* line 77, ../../js_arrays_assessment/website/scss/_assigned.scss */
  #assignedWrapper .btn {
    font-size: 1rem;
  }
}

/* line 92, ../../js_arrays_assessment/website/scss/_assigned.scss */
#assignedWrapper .btn:focus, #assignedWrapper .btn:hover {
  border-color: #d33;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(221, 51, 51, 0.6);
}

/*# sourceMappingURL=styles.css.map */